article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/* Default Styling */

html {
  font-size: 62.5%;
}

body {
  background-color: black;
  color: white;
  line-height: 1.6;
  font-size: 2rem;
  /* font-family: 'Josefin Sans'; */
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
p,
button,
form {
  margin: 0;
  padding: 0;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}


/* Main App.js Styling */
.App {
  text-align: center;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  width: 90%;
}

form,
fieldset,
.result-box,
.mood-button,
.mood-container {
  display: flex;
}

form,
fieldset,
.result-box,
.mood-button {
  flex-direction: column;
}


form,
.result-box,
.mood-button,
.mood-container {
  align-items: center;
}



form {
  justify-content: space-evenly;
}

textarea,
fieldset {
  border: none;
}



/* Heading */
header {
  padding: 30px;
  text-align: center;
  height: 30vh;
  margin-bottom: 20px;
}


h1,
h2,
h3,
h4,
label,
button {
  font-family: 'Arial';
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
}

h1 {
  font-size: 5.2rem;
  letter-spacing: 2px;
}

h2 {
  font-size: 3rem;
  margin: 20px auto;
}

h3 {
  font-size: 2.5rem;
  text-align: left;
}

span {
  font-style: italic;
}

button {
  background-color: #8D7400;
  border: 2px solid #8D7400;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  color: white;
  padding: 10px 30px;
  border-radius: 2px;
}

/* Header */
/* .title-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-name img {
  width: unset;
  max-width: 100px;
} */



/* Name Form */

.mood-entry,
.album-container {
  height: 100vh;
}

.enter-info {
  border: 6px solid #8D7400;
  border-radius: 10px;
  max-width: 60%;
  height: 40vh;
  margin: 0 auto;
}

.enter-info input {
  text-align: center;
}

.name-entry {
  height: 75vh;
}

.name-entry label {
  font-size: 3.2rem;
}

.welcome {
  text-align: center;
}



/* Journal Entry */
.journal-entry {
  height: 100vh;
  /* max-width: 70%; */
}

.form-label {
  font-size: 2.5rem;
}

.one-word {
  font-size: 2.1rem;
}


.journal-form {
  border: 3px solid white;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
  margin-top: 20px;
  border-radius: 10px;
}

.journal,
.reflection {
  text-align: center;
  flex: 1 0 50%;
  padding: 50px 20px;
}

.journal {
  border-right: 3px solid white;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
  /* display: flex; */
  /* flex-direction: column; */
  margin: 15px 0;
}

textarea,
input[type="text"] {
  background-color: whitesmoke;
  border: 1px solid white;
  color: black;
  border-radius: 5px;

}

textarea {
  width: 100%;
  line-height: 1.5;
  padding: 20px;
}

input[type="text"]{
  /* border: none; */
  /* background-color: whitesmoke; */
  /* border: 1px solid white; */
  /* color: black; */
  padding: 15px;
  /* border-radius: 5px; */
}

input::placeholder,
textarea::placeholder {
  text-align: center;
}

.journal-entry button {
  align-self: center;
  margin-top: 30px;
}



/* Mood Container */
.mood-entry {
  /* border: 2px solid gold; */
  margin-top: 70px;
}

/* Mood */
.mood-container {
  /* display: flex; */
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
  height: 80vh;
}

.mood-box{
  flex: 1 0 calc(50% - 20px);
  padding: 20px;
}

.mood-button {
  background-color: black;
  height: 150px;
  border-radius: 6px;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  /* align-items: center; */
  border-width: 4px;
}

.mood-button:hover,
.mood-button:focus {
  transform: scale(1.05);
  outline: 2px solid white;
}

.mood-button:active {
  background-color: #8D7400;
}

br {
  margin-top: 10px;
}

/* Album Container */
.album-container {
  margin-top: 50px;
}

.result-box {
  border: 2px solid white;
  height: 85vh;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
}

.result-box button {
  margin: 30px auto;
}

img {
  width: unset;
  max-width: 100%;

}

/* Albums */
















/* OVO GOLD: 8D7400 */


/* Tighten up form CSS, lots of repetition */